<nav role="navigation" class="navbar topnavbar">
   <div class="col-md-2"> 
      <div class="navbar-header">
         <a href="#/" class="navbar-brand">
            <div class="brand-logo">
               <img src="app/img/logovopp.png" alt="App Logo" class="img-responsive" />
            </div>
            <div class="brand-logo-collapsed">
               <img src="app/img/logovopp.png" alt="App Logo" class="img-responsive" />
            </div>
         </a>
      </div>
   </div>
   <div class="col-md-3 top-menu caps">
      <form action="" class="form-prd top-form">
         <select name="top" id="" class="eighty-width uppercase">
            <option value="1">Aportt distribuição e logistica LTDA</option>
            <option value="1">Localidade</option>
            <option value="1">Funcionarios</option>
            <option value="1">Clientes</option>
            <option value="1">Produtos</option>
         </select>
      </form>
   </div>
   
   <div class="col-md-1 col-md-offset-2  top-menu-lh top-menu-chat">
      <span>Chat</span>
      <em class="fa fa-comments-o"><span class="chat-notification">12</span></em>
      
   </div>
   
   <div class="col-md-2 top-menu">
      <form action="" class="form-prd search-form top-form">
         <input type="text" class="search-input full-width capitalize" placeholder="Pesquisar" />
         <span class="fa fa-search text-muted"></span>
      </form>
   </div>

   <div class="col-md-2">
      <div class="">
         <ul class="nav navbar-nav navbar-right">
            <li class="timenow top-menu-lh">
               <em class="fa fa-clock-o"></em>
               <!-- <now format="EEE" class="text"></now>  -->
               <now format="dd" class="text"></now>/ 
               <now format="MM" class="text"></now>/ 
               <now format="y" class="text"></now> 
               <now format="HH:mm" class="text timenowhour"></now> 
            </li>
         </ul>
      </div>
   </div>
</nav>
<div class="tabs"></div>
