<div class="tabs"></div>
<h3>
  <em class="{{iconCategory}}"></em>{{title}}
   
  <span class="pull-right menu-acoes">
    <span class="{{iconCategory}}"></span>
    Ações 
  </span>
   
   <span class="pull-right fullScreenBtn">
     <a ng-click="app.fullScreen = !app.fullScreen"><em ng-class="app.fullScreen ? 'icon-size-actual' : 'icon-size-fullscreen'"></em></a>
   </span>
</h3>
<div class="row" ng-controller="DataTableController">
   <div class="col-lg-12">
         <!-- START DATATABLE 2 -->
   <div class="row">
      <div class="col-lg-12">
      <div class="table-responsive">
          <table class="table table-prd">
             <thead>
                <tr>
                   <th ng-click="sorting('_id')">#ID</th>
                   <th ng-click="sorting('username')">Username</th>
                   <th ng-click="sorting('domain')">Domain</th>
                   <th>Ações</th>
                </tr>
             </thead>
             <tbody>
                <tr ng-repeat="user in users | orderBy:sort.col:sort.desc">
                   <td>{{user._id}}</td>
                   <td>{{user.username}}</td>
                   <td>{{user.domain}}</td>
                   <td><a class="btn btn-primary" ng-click="editUser(user)">Editar</a> <a class="btn btn-danger">Excluir</a></td>
                </tr>
             </tbody>
          </table>
       </div> 
      </div>
   </div>
   <!-- END DATATABLE 2 -->
   </div>
</div>