<div class="tabs"></div>
<h3><em class="{{iconCategory}}"></em>{{title}}
   <span class="pull-right menu-acoes">
    <span class="{{iconCategory}}"></span>
    Ações
</span></h3>
<div class="row">
   <div class="col-lg-6 col-lg-offset-3">
		<form role="form" ng-submit="addUser()" validate-form="" novalidate="" class="mb-lg form-prd">
            <div class="form-group has-feedback">
               <label for="">Email</label>
               <input type="text" placeholder="Enter email" autocomplete="off" required="required" class="form-control" ng-model="user.username" />
            </div>
            <div class="form-group has-feedback">
               <label for="">Password</label>
               <input type="password" placeholder="Password" required="required" class="form-control" ng-model="user.password" />
            </div>
            
            <div class="form-group has-feedback">
               <label for="">Domain</label>
               <input type="text" placeholder="Domain" required="required" class="form-control" ng-model="user.domain" />
            </div>
            <div class="form-group has-feedback">
               <label for="">Domain</label>
               <input type="text" placeholder="Domain" required="required" class="form-control" ng-model="user.domain" />
            </div>
            <div class="form-group has-feedback">
               <label for="">Domain</label>
               <input type="text" placeholder="Domain" required="required" class="form-control" ng-model="user.domain" />
            </div>
            <div class="form-group has-feedback">
               <label for="">Domain</label>
               <input type="text" placeholder="Domain" required="required" class="form-control" ng-model="user.domain" />
            </div>
            <div class="form-group has-feedback">
               <label for="">Domain</label>
               <input type="text" placeholder="Domain" required="required" class="form-control" ng-model="user.domain" />
            </div>
            <div class="form-group has-feedback">
               <label for="">Roles</label>
               <select placeholder="Domain" required="required" class="form-control" ng-model="user.role">
            		<option value="user">User</option>
            		<option value="admin">Admin</option>
               </select>
            </div>
            <button type="submit" class="btn btn-block btn-primary mt-lg">Login</button>
         </form>
   </div>
</div>