<div class="tabs"></div>
  <toaster-container toaster-options="{'position-class': 'toast-top-center','close-button': true, 'progressBar': true, 'time-out':'3000'}"></toaster-container>
<h3><em class="{{iconCategory}}"></em>{{title}}
   <span class="pull-right menu-acoes">
    <span class="{{iconCategory}}"></span>
       Ações
   </span>
   <span class="pull-right fullScreenBtn">
     <a ng-click="app.fullScreen = !app.fullScreen"><em ng-class="app.fullScreen ? 'icon-size-actual' : 'icon-size-fullscreen'"></em></a>
   </span>
</h3>
<scrollable height="{{app.sh}}" class="list-group">
<div class="col-md-8 col-md-offset-2">  
      <form action="/" method="POST" form-wizard="" validate-steps="true" validate-form="" class="mb-lg form-prd" steps="4">
         <div class="form-wizard wizard-horizontal">
            <!-- START wizard steps indicator-->
            <ol class="row">
               <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-md-4">
                  <h4>Pessoal</h4>
               </li>
               <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-4">
                  <h4>Endereço</h4>
               </li>
               <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)" class="col-md-4">
                  <h4>Contato</h4>
               </li>
            </ol>
            <!-- END wizard steps indicator-->
            <!-- START Wizard Step inputs -->
            <div id="step1" ng-show="wizard.active(1)">
                  <!-- START row -->
                  <div class="col-md-8 col-md-offset-2">
                     <div class="col-md-8">
                        <div class="form-group">
                           <label>Natureza Juridica</label>
                           <div class="controls">
                              <select name="" id="" class="full-width">
                                 <option value="PJ">Pessoa Juridica</option>
                                 <option value="PF">Pessoa Fisica</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label>Status</label>
                           <div class="controls">
                              <select name="" id="" class="full-width">
                                 <option value="true">Ativo</option>
                                 <option value="false">Inativo</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="form-group">
                           <label>Razão Social</label>
                           <div class="controls">
                              <input type="password" name="password2" data-parsley-group="step1" placeholder="Digite a razao social" required="required" class="form-control full-width" />
                           </div>
                        </div>
                     </div>

                     <div class="col-md-12">
                        <div class="form-group">
                           <label>Nome Fantasia</label>
                           <div class="controls">
                              <input type="password" name="password2" data-parsley-group="step1" placeholder="Digite o nome fantasia" required="required" class="form-control full-width" />
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>CNPJ</label>
                           <div class="controls">
                              <input type="text" name="username" data-parsley-group="step1" placeholder="Digite o CNPJ" required="required" class="form-control full-width" />
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>IE</label>
                           <div class="controls">
                              <input type="password" name="password" data-parsley-group="step1" placeholder="Digite a Inscrição estadual" required="required" class="form-control full-width" />
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="form-group">
                           <label>Classe</label>
                           <div class="controls">
                              <select name="" id="" class="full-width">
                                 <option value="">Cliente Gold</option>
                                 <option value="">Cliente VIP</option>
                              </select>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- END row -->
               <ul class="pagerVopp col-md-12">
                  <li class="next"><a href="#" ng-click="wizard.go(2)" class="btn btn-vopp btn-vopp-success pull-right"><em class="fa fa-check-circle"></em>Avançar</a>
                  </li>
               </ul>
            </div>
            <!-- END Wizard Step inputs -->
            <!-- START Wizard Step inputs -->
            <div id="step2" ng-show="wizard.active(2)">
               <fieldset>
                  <legend>Personal</legend>
                  <!-- START row -->
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>First Name</label>
                           <input type="text" name="first-name" data-parsley-group="step2" placeholder="John" required="required" class="form-control" />
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>Last Name</label>
                           <input type="text" name="last-name" data-parsley-group="step2" placeholder="Snow" required="required" class="form-control" />
                        </div>
                     </div>
                  </div>
                  <!-- END row -->
               </fieldset>
               <ul class="pagerVopp">
                  <li class="previous">
                     <a href="#" ng-click="wizard.go(1)" class="btn btn-vopp btn-vopp-danger pull-left"><em class="fa fa-times-circle"></em>Voltar</a>
                  </li>
                  <li class="next"><a href="#" ng-click="wizard.go(3)" class="btn btn-vopp btn-vopp-success pull-right"><em class="fa fa-check-circle"></em>Avançar</a>
                  </li>
               </ul>
            </div>
            <!-- END Wizard Step inputs -->
            <!-- START Wizard Step inputs -->
            <div id="step3" ng-show="wizard.active(3)">
               <fieldset>
                  <legend>Contact</legend>
                  <!-- START row -->
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>Email</label>
                           <input type="text" name="email" data-parsley-group="step3" placeholder="john@snow.com" required="required" class="form-control" />
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <label>Phone</label>
                           <input type="text" name="phone" data-parsley-group="step3" placeholder="11-2345-6789" required="required" class="form-control" />
                        </div>
                     </div>
                  </div>
                  <!-- END row -->
               </fieldset>
               <ul class="pagerVopp">
                  <li class="previous">
                     <a href="#" ng-click="wizard.go(2)"class="btn btn-vopp btn-vopp-danger pull-left"><em class="fa fa-times-circle"></em>Voltar</a>
                  </li>
               </ul>
            </div>
            <!-- END Wizard Step inputs -->
         </div>
      </form>
    </div>
</scrollable>