.table-prd{
	thead{
		background: #f4f4f4;
		tr{
			th{
				height: 46px;
				padding: 12px 8px;
			}
		}

	}
	tbody{
		tr{
			td{
				border-top:none;
				border-bottom:1px dashed #d3d3d3;
			}
		}
	}
}

.ColapseMenu{
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.form-prd{
	.form-group{
		margin-bottom: 9px;
	}
	label{
		margin-bottom: 0px;
		font-size: 12px;
	}

	input, select{
		border-radius: 0px;
		background: #f4f4f4;
		border:0;
		height: 30px;
	}
}