.btn-vopp-dark{
	margin-top: 30px !important;
	background: #00566f;
	color:#fff;

	&:hover{
		color:#fff;
	}
}
.password-recovery{
	margin-top: 10px;
	margin-top: 30px;
	text-align: center;
	a{
		color: #2d95ca;
		text-decoration: underline;
	}
}

.table-prd{
	thead{
		background: #f4f4f4;
		tr{
			th{
				height: 46px;
				padding: 12px 8px;
			}
		}
	}
	tbody{
		tr{
			td{
				border-top:none;
				border-bottom:1px dashed #d3d3d3;
			}
		}
	}
}

.ColapseMenu{
	color: #00566f;
	&:focus, &:hover, &:active{
		color: #00566f;
	}
}

.top-menu-chat{
	color:#fff;
	font-size: 14px;
	em{
		font-size: 18px;
		position: relative;
		margin-left: 5px;
	}
	.chat-notification{
		position: absolute;
		top: -12px;
		right: -10px;
		background: #f00;
		border-radius: 50%;
		color: #fff;
		height: 20px;
		width: 20px;
		text-align: center;
		font-size: 11px;
		line-height: 21px;
	}
}

.timenow{
	text-transform: lowercase;
	color:#fff;
	margin-right: 15px;
	em {
		margin-right: 7px;
		font-size: 18px;
		vertical-align: middle;
	}
	.timenowhour{
		margin-left: 7px;
	}
}

.search-form{
	span{
		position: absolute;
		top: 10px;
		right: 12px;
		z-index: 2;
		display: block;
		width: 35px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		pointer-events: none;
	}
}

.ColapseMenu{
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.form-prd{
	.form-group{
		margin-bottom: 9px;
	}
	label{
		margin-bottom: 0px;
		font-size: 12px;
	}

	input, select{
		border-radius: 0px;
		background: #f4f4f4;
		border:0;
		color: #00566f;
		border-radius: 5px;
		text-transform: uppercase;
		padding-left: 5px;
		height: 30px;
	}

	select{
		background: url(../img/option-flag.png) bottom right no-repeat #f4f4f4;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    border-radius: 5px 5px 0 5px;
	}
}

.full-width{
	width: 100% !important;
}

.eighty-width{
	width: 80% !important;
}

.top-menu{
	padding-top: 12px;
}

.top-menu-lh{
	line-height: 55px;
}

.caps{
	text-transform: uppercase;
}
.capitalize{
	text-transform: capitalize !important;
}
.menu-acoes{
	background: #ebf0e9;
	line-height: 46px;
	margin-top: -10px;
	padding: 0 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	margin-right: -20px;
	color:#00566f;
	width: 169px;
	span{
		margin:0 5px 0 0;
	}
}